    <div class="footer">
        <ul>KAYCEE
            <a target="_blank" href="https://www.linkedin.com/in/kayceemartin/"><li><i class="bi bi-linkedin"></i></li></a>
            <a target="_blank" href="https://github.com/kayceemartin"><li><i class="bi bi-github"></i></li></a>
        </ul>

        <ul>NAJEE
            <a target="_blank" href=""><li><i class="bi bi-linkedin"></i></li></a>
            <a target="_blank" href="https://github.com/Naleem1"><li><i class="bi bi-github"></i></li></a>
        </ul>
    
        <ul>SKIP
            <a target="_blank" href="https://www.linkedin.com/in/skippharaoh/"><li><i class="bi bi-linkedin"></i></li></a>
            <a target="_blank" href="https://github.com/SkipPharaoh"><li><i class="bi bi-github"></i></li></a>
        </ul>
    
        <ul>STEVEN
            <a target="_blank" href="https://www.linkedin.com/in/steven-mikhu-1323a2214/"><li><i class="bi bi-linkedin"></i></li></a>
            <a target="_blank" href="https://github.com/smikhu"><li><i class="bi bi-github"></i></li></a>
        </ul>
    
        <h5 class="foot"> COPYRIGHT &copy; EAST COAST BOOGIE | DESIGNED BY SCHEMERCODERS</h5>
    </div>