<link rel="stylesheet" href="/css/style.css">

<!-- DETROIT FONT -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 


<div class="main-title">
<a href="/cities"><p class="title">EAST COAST BOOGIE</p></a>
</div>

<nav class="navbar">
    <ul>
        <li>
            <a href="/atl">ATLANTA</a>
        </li>
        <li>
            <a href="/detroit"><span class="detroit">DETROIT</span></a>
        </li>
        <li>
            <a href="/nyc">NEW YORK CITY</a>
        </li>
        <li>
            <a href="/tampa">TAMPA</a>
        </li>
    </ul>
</nav>
