<link rel="stylesheet" href="/css/style.css">

<div>
    <ul>
        <li>
            <a href="/cities">HOME</a>
        </li>
        <li>
            <a href="/atl">ATL</a>
        </li>
        <li>
            <a href="/detroit">DET</a>
        </li>
        <li>
            <a href="/nyc">NYC</a>
        </li>
        <li>
            <a href="/tampa">TPA</a>
        </li>
        <li>
            <a href="/comments">COMMENTS</a>
        </li>
    </ul>
</div>