<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATL</title>
</head>
<body>
    <h1>Atlanta Home Page</h1>
    <nav>
        <%- include('./partials/nav.ejs')%>
    </nav>
    <div class="responsive-container">

        <li>Restaurants
            <% for(let i = 0; i < city.length; i++) { %>
                <p><%= city[i].name%></p>
            <% } %>
        </li>
        <li>Landmarks</li>
        <li>Events</li>

    </div>




<!-- //     <style>
//     .responsive-container {
//   display: grid;
//   grid-gap: 1%;
//   grid-template-columns: repeat(6, 1fr);
//   padding: 0;
//   margin-bottom: 25px;
// }

//     .responsive-container li {
//   border: 3px solid black;
//   height: 500px;
//   list-style-type: none;
//   padding: 0;
// }

// @media (min-width: 400px) {
//     .responsive-container {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }
       
//     </style> -->

</body>
</html>