<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS STYLE SHEET -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- MAIN FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <title>East Coast Boogie</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs')%>
    </nav>

    <p class="description">A couple of cool cities if you're on a road trip on the east coast!</p>

    <div class="carousel-wrapper">
        <span id="item-1"></span>
        <span id="item-2"></span>
        <span id="item-3"></span>
        <span id="item-4"></span>
        <div class="carousel-item item-1">
          <a href="#item-4" class="arrow-prev arrow"></a>
          <a href="#item-2" class="arrow-next arrow"></a>
        </div>
    
        <div class="carousel-item item-2">
          <a href="#item-1" class="arrow-prev arrow"></a>
          <a href="#item-3" class="arrow-next arrow"></a>
        </div>
    
        <div class="carousel-item item-3">
          <a href="#item-2" class="arrow-prev arrow"></a>
          <a href="#item-4" class="arrow-next arrow"></a>
        </div>

        <div class="carousel-item item-4">
            <a href="#item-3" class="arrow-prev arrow"></a>
            <a href="#item-1" class="arrow-next arrow"></a>
          </div>
    
      </div>

      <%- include('./partials/footer.ejs')%>


    <style>
        * {
            font-family: 'Sedgwick Ave', cursive;
            color: #317773;
            background-color: #E2D1F9;
            border-radius: 5px;
        }

        /* body {
            background: url(''); 
            background-size: cover;
            background-repeat: no-repeat;
        } */

        .description {
            /* border: 1px solid black; */
            text-align: center;
            font-size: 24px;
            margin-top: 80px;
            background-color: white;
            color: #317773;
        }

        .carousel {
            position: relative;
        }

        .carousel__item {
            height: 300px;
            background-color: grey;
            padding: 1em;
            font-family: 'Quicksand', sans-serif;
            font-weight: bold;
            color: #ffffff
        }

        .carousel__item--selected {
            display: block;
        }

        .carousel___nav {
            width: 100%;
            padding: 20px 0;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
        }

        .carousel__button {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: rbga(255, 255, 255, 0.2);
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }

        .carousel__button--selected {
            background: rgba(255, 255, 255, 0.5);
        }

        .carousel-wrapper {
            height: 600px;
            position: relative;
            width: 800px;
            display: block;
            margin: 50px auto ;
            border: 2px solid #317773;
            border-radius: 15px;
            box-shadow: 5px 5px 50px #E2D1F9;
        }

        .carousel-item {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 25px 50px;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }

        .arrow{
            border: solid white;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 12px;
        }

        .arrow-prev {
            left: 30px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(135deg);
        }

        .arrow-next {
            right: 30px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
        }

        [id^= "item"] {
            display: none;
        }

        .item-1 {
            z-index: 2;
            opacity: 1;
            background: url('https://3toh891af6rf1cn1po1ecevj-wpengine.netdna-ssl.com/wp-content/uploads/2015/06/iStock-916152336-downtown-b-1024x531.jpg');
            background-size: cover;
            border-radius: 12px;
        }

        .item-2 {
            background: url('https://grouptourmagazine.com/wp-content/uploads/2019/02/MDCVB-2015_094.jpg');
            background-size: cover;
            border-radius: 12px;
        }

        .item-3 {
            background: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/sunset-over-downtown-manhattan-with-the-freedom-tower-nyc-habib-ayat.jpg');
            background-size: cover;
            border-radius: 12px;
        }

        .item-4 {
            background: url('https://img1.10bestmedia.com/Images/Photos/379460/GettyImages-535415025_54_990x660.jpg');
            background-size: cover;
            border-radius: 12px;
        }

        *:target ~ .item-1{
            opacity: 0;
        }

        #item-1:target ~ .item-1 {
            opacity: 1;

        }

        #item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
            z-index: 3;
            opacity: 1;
        } 

        @media only screen and (max-width: 825px) {
            .carousel-wrapper {
                width: 400px;
                height: 400px;
            }

            .car-art {
                display: none;
            }

            .airplane-art {
                display: none;
            }   
        }

    </style>

</body>
</html>