<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <title>East Coast Boogie</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs')%>
    </nav>

    <p class="description">A couple cool cities if you're on a road trip on the east coast!</p>

    <style>
        * {
            font-family: 'Sedgwick Ave', cursive;
            color: palevioletred
        }
        .description {
            border: 1px solid black;
            text-align: center;
            font-size: 24px;
        }

    </style>

</body>
</html>