nav{
   background-color: skyblue; 
   width: 100%;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline-block;
}
.responsive-container {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
    margin-bottom: 25px;
}
a{
    color: snow;
}
a:hover{
    color: red;
}
.nycComment{
    color: tomato;
}
.nycComment:hover{
    text-shadow: 0px 0px 5px greenyellow;
}
.topic {
border: 3px solid black;
height: 800px;
list-style-type: none;
padding: 0;
}
@media (min-width: 400px) {
    .responsive-container {
    grid-template-columns: repeat(4, 1fr);
}
}